## GrEx1 Air Travel Customer Data##

## Part I #

<ol>
  <h3>Steps.</h3>
  <li>Read each of the three yearly data files into a pandas DataFrame saving each to a variable.</li>
  <li>Using the three variables you created in Step 1, add a new (constant) column to each DataFrame with the column name “YEAR” and values the year the data was taken.</li>
  <li>Create three new "ratings" DataFrames and assign them to variables by selecting a subset of columns from each of the three DataFrames</li>
  <li>Rename the DataFrame columns so the names are consistent across the years. (Mainly you are a refixing typos.)</li>
  <li>Check for missing values and invalid ratings values. Replace these values by valid values as you see fit.</li>
  <li>Concatenate the 3 ratings DataFrames to get the Summary Data DataFrame and save it to a new variable.</li>
  <li>Use the variable from Step 6 to write the Summary DataFrame to a csv file. Include a header (column names) but not the index</li>
</ol>

### Import the packages we are going to need.###

Install needed Packages (**Note**: Check under Environments in Anaconda navigator that xlrd is installed.)

In [97]:
import xlrd #contains read for excel files
import pandas as pd #contains I/O functions for various file types include (csv and excel files) 
import numpy as np  # Later on we want to use np.nan which represents null values in the DataFrames
pd.options.mode.chained_assignment = None  # default='warn'

### Create the 2014 "Ratings" DataFrame.###

In [98]:
# Use pd.read_excel() to read 'Sheet 1' of "sfo cust sat 2014 data file_WEIGHTED_flysfo.xlsx" and save it to a variable
SFO2014_df = pd.read_excel('.\\MSDS 420\\GrEx1\\sfo cust sat 2014 data file_WEIGHTED_flysfo.xlsx','Sheet 1')

In [99]:
# Apply pandas head( ) to the 'SFO2014_df' to display the first five records of the DataFrame.
SFO2014_df.head(5)
# There are 95 columns

,RESPNUM,CCGID,RUN,INTDATE,GATE,AREA,STRATA,PEAK,METHOD,SAQ,...,Q17COUNTRY,HOME,Q18AGE,Q19GENDER,Q20INCOME,Q21FLY,Q22SJC,Q22OAK,LANG,WEIGHT
0,1,348.0,18045,4,54,D,3,2,1,1,...,US,1.0,3,2,2,2,2,1,1,0.869434
1,2,349.0,18045,4,54,D,3,2,1,1,...,US,3.0,2,1,1,2,2,2,1,0.869434
2,3,350.0,18045,4,54,D,3,2,1,1,...,US,1.0,5,1,4,1,2,1,1,0.869434
3,4,351.0,18045,4,54,D,3,2,1,2,...,US,2.0,3,2,4,2,1,2,1,0.869434
4,5,352.0,18045,4,54,D,3,2,1,2,...,US,1.0,3,1,1,2,2,2,1,0.869434

In [100]:
# Display the columns of 'SFO2014_df'
SFO2014_df.columns

Index(['RESPNUM', 'CCGID', 'RUN', 'INTDATE', 'GATE', 'AREA', 'STRATA', 'PEAK',
       'METHOD', 'SAQ', 'AIRLINE', 'FLIGHT', 'DEST', 'DESTGEO', 'DESTMARK',
       'DEPTIME', 'ARRTIME', 'HOWLONG', 'Q2PURP1', 'Q2PURP2', 'Q2PURP3',
       'Q2PURP4', 'Q2PURP5', 'Q2PURP6', 'Q3GETTO1', 'Q3GETTO2', 'Q3GETTO3',
       'Q3GETTO4', 'Q3GETTO5', 'Q3GETTO6', 'Q3PARK', 'Q4BAGS', 'Q4STORE',
       'Q4FOOD', 'Q4WIFI', 'Q5TIMESFLOWN', 'Q6LONGUSE', 'Q7ART', 'Q7FOOD',
       'Q7STORE', 'Q7SIGN', 'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN',
       'Q7INFOUP', 'Q7WIFI', 'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING',
       'Q7RENTAL', 'Q7ALL', 'Q8IMPROVE1', 'Q8IMPROVE2', 'Q8IMPROVE3',
       'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL', 'Q9FOOD', 'Q9RESTROOM', 'Q9ALL',
       'Q9COM1', 'Q9COM2', 'Q9COM3', 'Q10SAFE', 'Q10SAFEA', 'Q10SAFEB',
       'Q10SAFEC', 'Q11TSAPRE', 'Q12PRECHECKRATE', 'Q12PRECOM1', 'Q12PRECOM2',
       'Q12PRECOM3', 'Q13COUNTY', 'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU',
       'Q15PROBLEM', 'Q15PROBCOM1', 'Q15PROBCOM2', 'Q15PROBCOM3', 'Q16LIVE',
       'Q17CITY', 'Q17ST', 'Q17ZIP', 'Q17COUNTRY', 'HOME', 'Q18AGE',
       'Q19GENDER', 'Q20INCOME', 'Q21FLY', 'Q22SJC', 'Q22OAK', 'LANG',
       'WEIGHT'],
      dtype='object')

In [101]:
# Use panda insert to add a new column constant (YEAR) column of values: 2014 (It will be a number not a string)
SFO2014_df.insert(95,"YEAR",2014)

In [102]:
# Apply pandas head( ) again to verify the changes
SFO2014_df.head()

,RESPNUM,CCGID,RUN,INTDATE,GATE,AREA,STRATA,PEAK,METHOD,SAQ,...,HOME,Q18AGE,Q19GENDER,Q20INCOME,Q21FLY,Q22SJC,Q22OAK,LANG,WEIGHT,YEAR
0,1,348.0,18045,4,54,D,3,2,1,1,...,1.0,3,2,2,2,2,1,1,0.869434,2014
1,2,349.0,18045,4,54,D,3,2,1,1,...,3.0,2,1,1,2,2,2,1,0.869434,2014
2,3,350.0,18045,4,54,D,3,2,1,1,...,1.0,5,1,4,1,2,1,1,0.869434,2014
3,4,351.0,18045,4,54,D,3,2,1,2,...,2.0,3,2,4,2,1,2,1,0.869434,2014
4,5,352.0,18045,4,54,D,3,2,1,2,...,1.0,3,1,1,2,2,2,1,0.869434,2014

In [103]:
#We will create an object that includes 'YEAR', 'RESPNUM', 'Q16LIVE' and 26 ratings columns 
sel_cols = ['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE','Q7SIGN','Q7WALKWAYS','Q7SCREENS','Q7INFODOWN','Q7INFOUP','Q7WIFI','Q7ROADS','Q7PARK','Q7AIRTRAIN','Q7LTPARKING','Q7RENTAL','Q7ALL','Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']

In [104]:
# We will create the 'ratings2014_df' DataFrame using the 'sel_cols' object we made to subset 'SFO2014_df'
ratings2014_df = SFO2014_df[sel_cols]

In [105]:
# Display the columns of the 'ratings2014_df' DataFrame you created in the previous cell.
ratings2014_df.columns

Index(['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE', 'Q7SIGN',
       'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN', 'Q7INFOUP', 'Q7WIFI',
       'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING', 'Q7RENTAL', 'Q7ALL',
       'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL', 'Q9FOOD', 'Q9RESTROOM', 'Q9ALL',
       'Q10SAFE', 'Q12PRECHECKRATE', 'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU'],
      dtype='object')

### Create the 2015 "Ratings" DataFrame.###

In [106]:
# Use pd.read_csv() to read "sfo cust sat 2015_data file_final_WEIGHTED_flysfo.csv" and save it to a DataFrame variable.
SFO2015_df=pd.read_csv('.\\MSDS 420\\GrEx1\\sfo cust sat 2015_data file_final_WEIGHTED_flysfo.csv',sep=',')

In [107]:
# Apply pandas head( ) to the DataFrame (variable) you just created to display the first five records of the DataFrame. 
SFO2015_df.head()
# There are 90 columns

,RESPNUM,CCGID,RUNID,INTDATE,AIRLINE,FLIGHT,DESTINATION,DESTGEO,DESTMARK,GATE,...,Q17ZIP,Q17COUNTRY,Q18AGE,Q19GENDER,Q20INCOME,Q21FLY,Q22SJC,Q22OAK,LANG,WEIGHT
0,3,460.0,15076,13,8,242,18,3,4,58,...,94619.0,US,6,0,1,2,2,2,1,0.720538
1,4,554.0,15083,12,38,1777,99,4,2,1,...,NaN,CANADA,6,2,4,1,2,2,1,0.669478
2,5,555.0,15083,12,38,1777,99,4,2,1,...,NaN,CANADA,2,1,3,2,2,2,1,0.669478
3,6,461.0,15076,13,8,242,18,3,4,58,...,61801.0,US,2,2,1,1,2,2,1,0.720538
4,7,556.0,15083,12,38,1777,99,4,2,1,...,94119.0,US,3,1,0,2,2,2,1,0.669478

In [108]:
# Use pandas 'assign' to insert a constant column of values: 2015. 

SFO2015_df=SFO2015_df.assign(YEAR=2015)

In [109]:
# Use pandas head( ) to verify the changes
SFO2015_df.head()

,RESPNUM,CCGID,RUNID,INTDATE,AIRLINE,FLIGHT,DESTINATION,DESTGEO,DESTMARK,GATE,...,Q17COUNTRY,Q18AGE,Q19GENDER,Q20INCOME,Q21FLY,Q22SJC,Q22OAK,LANG,WEIGHT,YEAR
0,3,460.0,15076,13,8,242,18,3,4,58,...,US,6,0,1,2,2,2,1,0.720538,2015
1,4,554.0,15083,12,38,1777,99,4,2,1,...,CANADA,6,2,4,1,2,2,1,0.669478,2015
2,5,555.0,15083,12,38,1777,99,4,2,1,...,CANADA,2,1,3,2,2,2,1,0.669478,2015
3,6,461.0,15076,13,8,242,18,3,4,58,...,US,2,2,1,1,2,2,1,0.720538,2015
4,7,556.0,15083,12,38,1777,99,4,2,1,...,US,3,1,0,2,2,2,1,0.669478,2015

In [110]:
# One of the ratings column names has a typo. Rename the column using the pandas DataFrame rename() method and then list the columns to verify the column was renamed.
SFO2015_df.rename(columns={'Q12PRECHEKCRATE':'Q12PRECHECKRATE'}, inplace=True)
SFO2015_df.rename(columns={'HELLO': "OSCA"})
SFO2015_df.columns

Index(['RESPNUM', 'CCGID', 'RUNID', 'INTDATE', 'AIRLINE', 'FLIGHT',
       'DESTINATION', 'DESTGEO', 'DESTMARK', 'GATE', 'BAREA', 'STRATA', 'PEAK',
       'DEPTIME', 'ARRTIME', 'HOWLONG', 'METHOD', 'Q2PURP1', 'Q2PURP2',
       'Q2PURP3', 'Q3GETTO1', 'Q3GETTO2', 'Q3GETTO3', 'Q3PARK', 'Q4BAGS',
       'Q4STORE', 'Q4FOOD', 'Q4WIFI', 'Q5TIMESFLOWN', 'Q5FIRSTTIME',
       'Q6LONGUSE', 'SAQ', 'Q7ART', 'Q7FOOD', 'Q7STORE', 'Q7SIGN',
       'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN', 'Q7INFOUP', 'Q7WIFI',
       'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING', 'Q7RENTAL', 'Q7ALL',
       'Q8COM1', 'Q8COM2', 'Q8COM3', 'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL',
       'Q9FOOD', 'Q9RESTROOM', 'Q9ALL', 'Q9COM1', 'Q9COM2', 'Q9COM3',
       'Q10SAFE', 'Q10COM1', 'Q10COM2', 'Q10COM3', 'Q11TSAPRE',
       'Q12PRECHECKRATE', 'Q12COM1', 'Q12COM2', 'Q12COM3', 'Q13COUNTY',
       'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU', 'Q15PROBLEM', 'Q15COM1',
       'Q15COM2', 'Q15COM3', 'Q16LIVE', 'HOME', 'Q17CITY', 'Q17STATE',
       'Q17ZIP', 'Q17COUNTRY', 'Q18AGE', 'Q19GENDER', 'Q20INCOME', 'Q21FLY',
       'Q22SJC', 'Q22OAK', 'LANG', 'WEIGHT', 'YEAR'],
      dtype='object')

In [111]:
# We will create the 'ratings2015_df' DataFrame using the 'sel_cols' object we made to subset 'SFO2015_df'
# Add a second line of code to display the column names of your DataFrame object.
ratings2015_df = SFO2015_df[sel_cols]
ratings2015_df.columns

Index(['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE', 'Q7SIGN',
       'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN', 'Q7INFOUP', 'Q7WIFI',
       'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING', 'Q7RENTAL', 'Q7ALL',
       'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL', 'Q9FOOD', 'Q9RESTROOM', 'Q9ALL',
       'Q10SAFE', 'Q12PRECHECKRATE', 'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU'],
      dtype='object')

### Create the 2016 "Ratings" DataFrame.###

In [112]:
# Write three lines of code to read the 2016 data, add the constant YEAR column and display the first few records.
SFO2016_df = pd.read_excel(".\\MSDS 420\\GrEx1\\2016 SFO Customer Survey Data.xlsx", "Data")
SFO2016_df = SFO2016_df.assign(YEAR=2016)
SFO2016_df.head()

,*RESPNUM,CCGID,RUNID,INTDATE,EGYPTAIR,DAY,GATE,BAREA,STRATA,PEAK,...,Q18PET,Q19AGE,Q20GENDER,Q21INCME,Q22FLY,Q23SJC,Q23OAK,LANG,WEIGHT,YEAR
0,17,84,610,2016-05-11,1,4,42,C,3,2,...,1,18-24,0,2,2,2.0,2.0,1,1.045597,2016
1,70,40,576,2016-05-09,1,2,26,B,3,2,...,1,25-34,0,1,2,2.0,2.0,1,0.887513,2016
2,1512,1992,745,2016-05-15,1,1,12,A,3,2,...,1,25-34,0,1,2,2.0,2.0,1,0.355704,2016
3,1932,1869,759,2016-05-16,1,2,91,G,3,3,...,1,25-34,0,1,2,2.0,2.0,1,0.917422,2016
4,2408,2734,514,2016-05-06,1,6,54,D,2,2,...,1,25-34,0,2,3,2.0,2.0,1,1.000530,2016

In [113]:
# The respondent number column name has a typo. Rename the column using the pandas DataFrame rename() method and then list the column names to verify it was renamed.
SFO2016_df.rename(columns={'*RESPNUM': 'RESPNUM'}, inplace=True)
SFO2016_df.columns

Index(['RESPNUM', 'CCGID', 'RUNID', 'INTDATE', 'EGYPTAIR', 'DAY', 'GATE',
       'BAREA', 'STRATA', 'PEAK', 'METHOD', 'SAQ', 'AIRLINE', 'DESTINATION',
       'FLIGHT', 'AIRLINE CODE', 'DEST CODE', 'DESTGEO', 'DESTMARK', 'ARRTIME',
       'DEPTIME', 'HOWLONG', 'Q2PURP1', 'Q2PURP2', 'Q2PURP3', 'Q3GETTO1',
       'Q3GETTO2', 'Q3GETTO3', 'Q3PARK', 'Q4BAGS', 'Q4STORE', 'Q4FOOD',
       'Q4WIFI', 'Q5TIMESFLOWN', 'Q5FIRSTTIME', 'Q6LONGUSE', 'Q7ART', 'Q7FOOD',
       'Q7STORE', 'Q7SIGN', 'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN',
       'Q7INFOUP', 'Q7WIFI', 'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING',
       'Q7RENTAL', 'Q7ALL', 'Q8COM', 'Q8COM2', 'Q8COM3', 'Q8COM4', 'Q8COM5',
       'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL', 'Q9FOOD', 'Q9RESTROOM', 'Q9ALL',
       'Q9COM', 'Q9COM2', 'Q9COM3', 'Q10SAFE', 'Q10COM1', 'Q10COM2', 'Q10COM3',
       'Q11TSAPRE', 'Q12PRECHECKRATE', 'Q12PRECOM1', 'Q12PRECOM2',
       'Q12PRECOM3', 'Q13 COUNTY', 'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU',
       'Q15PROBLEM', 'Q15COM1', 'Q15COM2', 'Q15COM3', 'Q16LIVE', 'Q17CITY',
       'Q17STATE', 'Q17ZIP', 'Q17COUNTRY', 'HOME', 'Q18PET', 'Q19AGE',
       'Q20GENDER', 'Q21INCME', 'Q22FLY', 'Q23SJC', 'Q23OAK', 'LANG', 'WEIGHT',
       'YEAR'],
      dtype='object')

In [114]:
# We will create the 'ratings2016_df' DataFrame using the 'sel_cols' object we made to subset 'SFO2016_df'
# Add a second line of code to display the column names of your DataFrame object.
ratings2016_df=SFO2016_df[sel_cols]
ratings2016_df.columns

Index(['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE', 'Q7SIGN',
       'Q7WALKWAYS', 'Q7SCREENS', 'Q7INFODOWN', 'Q7INFOUP', 'Q7WIFI',
       'Q7ROADS', 'Q7PARK', 'Q7AIRTRAIN', 'Q7LTPARKING', 'Q7RENTAL', 'Q7ALL',
       'Q9BOARDING', 'Q9AIRTRAIN', 'Q9RENTAL', 'Q9FOOD', 'Q9RESTROOM', 'Q9ALL',
       'Q10SAFE', 'Q12PRECHECKRATE', 'Q13GETRATE', 'Q14FIND', 'Q14PASSTHRU'],
      dtype='object')

### Check 2014 "Ratings" DataFrame for missing values and invalid ratings data.###

In [115]:
# First use isnull().sum() to determine if there are any Nan values denoted missing ratings values
ratings2014_df.isnull().sum()
# Q12PRECHECKRATE has 1810 missing values

YEAR                  0
RESPNUM               0
Q16LIVE               0
Q7ART                 0
Q7FOOD                0
Q7STORE               0
Q7SIGN                0
Q7WALKWAYS            0
Q7SCREENS             0
Q7INFODOWN            0
Q7INFOUP              0
Q7WIFI                0
Q7ROADS               0
Q7PARK                0
Q7AIRTRAIN            0
Q7LTPARKING           0
Q7RENTAL              0
Q7ALL                 0
Q9BOARDING            0
Q9AIRTRAIN            0
Q9RENTAL              0
Q9FOOD                0
Q9RESTROOM            0
Q9ALL                 0
Q10SAFE               0
Q12PRECHECKRATE    1810
Q13GETRATE            0
Q14FIND               0
Q14PASSTHRU           0
dtype: int64

In [116]:
# Next use value_counts to determine if there are any invalid values. You might want to select subset of columns to apply value_counts to that DataFrame.
# A warning may appear that is directly related to the existence of invalid values. 
ratings2014_df[['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE','Q7SIGN','Q7WALKWAYS','Q7SCREENS','Q7INFODOWN','Q7INFOUP','Q7WIFI','Q7ROADS','Q7PARK','Q7AIRTRAIN','Q7LTPARKING']].apply(pd.value_counts, dropna=False)

C:\Users\herna_000\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\herna_000\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,Q7ROADS,Q7PARK,Q7AIRTRAIN,Q7LTPARKING
0,NaN,NaN,152.0,104.0,NaN,82.0,66.0,59.0,79.0,107.0,124.0,104.0,150.0,176.0,173.0,208.0
1,NaN,1.0,857.0,14.0,30.0,26.0,26.0,11.0,11.0,17.0,14.0,102.0,20.0,26.0,12.0,13.0
2,NaN,1.0,162.0,85.0,199.0,170.0,97.0,53.0,61.0,49.0,40.0,126.0,85.0,61.0,39.0,45.0
3,NaN,1.0,1643.0,596.0,835.0,854.0,553.0,513.0,576.0,481.0,482.0,353.0,399.0,303.0,264.0,192.0
4,NaN,1.0,4.0,823.0,933.0,918.0,1170.0,1097.0,1128.0,591.0,594.0,640.0,820.0,450.0,601.0,273.0
5,NaN,1.0,NaN,627.0,342.0,340.0,852.0,872.0,870.0,384.0,392.0,735.0,532.0,270.0,494.0,174.0
6,NaN,1.0,NaN,569.0,425.0,428.0,54.0,213.0,93.0,1189.0,1172.0,758.0,812.0,1532.0,1235.0,1913.0
7,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2800,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2801,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2806,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2809,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2810,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2811,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2814,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2815,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2816,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3006,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3007,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blank,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# Use value_counts to determine invalid values on a different subset of columns.
# A warning will appear that is directly related to the existence of invalid values. 
ratings2014_df[['Q7RENTAL','Q7ALL','Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']].apply(pd.value_counts, dropna=False)

C:\Users\herna_000\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\herna_000\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

,Q7RENTAL,Q7ALL,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
6,1627.0,NaN,16.0,1137.0,1490.0,546.0,135.0,18.0,NaN,19.0,123.0,46.0,215.0
4,382.0,1506.0,969.0,573.0,407.0,859.0,1018.0,1235.0,915.0,127.0,698.0,692.0,653.0
3,258.0,522.0,365.0,221.0,259.0,433.0,548.0,431.0,338.0,93.0,491.0,351.0,352.0
5,240.0,605.0,1395.0,717.0,448.0,818.0,952.0,1043.0,1503.0,587.0,1062.0,1574.0,1367.0
0,195.0,NaN,38.0,144.0,164.0,113.0,76.0,61.0,50.0,170.0,345.0,78.0,152.0
2,86.0,38.0,28.0,23.0,41.0,42.0,70.0,22.0,8.0,10.0,65.0,59.0,56.0
1,30.0,6.0,7.0,3.0,9.0,7.0,19.0,8.0,4.0,2.0,34.0,18.0,23.0
Blank,NaN,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1810.0,NaN,NaN,NaN

In [118]:
# Use replace to "fix" any values. We will use use np.nan to represent missing values and we will change 0 values to np.nan
# Data dictionary states that 0 means a missing value, which is defined as NaN in Python
ratings2014_df['Q7ALL'].replace('Blank', np.nan, inplace=True)
ratings2014_df['Q7FOOD'].replace('Blank', np.nan, inplace=True)

In [119]:
ratings2014_df['Q7ART'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7FOOD'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7STORE'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7SIGN'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7WALKWAYS'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7SCREENS'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7INFODOWN'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7INFOUP'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7WIFI'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7ROADS'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7PARK'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7LTPARKING'].replace(0,np.nan,inplace=True)
ratings2014_df['Q7RENTAL'].replace(0, np.nan, inplace = True)
ratings2014_df['Q7ALL'].replace(0, np.nan, inplace = True)
ratings2014_df['Q9BOARDING'].replace(0,np.nan,inplace=True)
ratings2014_df['Q9AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2014_df['Q9RENTAL'].replace(0,np.nan,inplace=True)
ratings2014_df['Q9FOOD'].replace(0, np.nan, inplace = True)
ratings2014_df['Q9RESTROOM'].replace(0, np.nan, inplace = True)
ratings2014_df['Q9ALL'].replace(0, np.nan, inplace = True)
ratings2014_df['Q10SAFE'].replace(0, np.nan, inplace = True)
ratings2014_df['Q12PRECHECKRATE'].replace(0, np.nan, inplace = True)
ratings2014_df['Q13GETRATE'].replace(0, np.nan, inplace = True)
ratings2014_df['Q14FIND'].replace(0, np.nan, inplace = True)
ratings2014_df['Q14PASSTHRU'].replace(0, np.nan, inplace = True)

In [120]:
# Next use value_counts (applied to a list of columns) to determine if all the values where fixed.
ratings2014_df[['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE','Q7SIGN','Q7WALKWAYS','Q7SCREENS','Q7INFODOWN','Q7INFOUP','Q7WIFI','Q7ROADS','Q7PARK','Q7AIRTRAIN','Q7LTPARKING']].apply(pd.value_counts, dropna=False)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,Q7ROADS,Q7PARK,Q7AIRTRAIN,Q7LTPARKING
0.0,NaN,NaN,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,NaN,1.0,857.0,14.0,30.0,26.0,26.0,11.0,11.0,17.0,14.0,102.0,20.0,26.0,12.0,13.0
2.0,NaN,1.0,162.0,85.0,199.0,170.0,97.0,53.0,61.0,49.0,40.0,126.0,85.0,61.0,39.0,45.0
3.0,NaN,1.0,1643.0,596.0,835.0,854.0,553.0,513.0,576.0,481.0,482.0,353.0,399.0,303.0,264.0,192.0
4.0,NaN,1.0,4.0,823.0,933.0,918.0,1170.0,1097.0,1128.0,591.0,594.0,640.0,820.0,450.0,601.0,273.0
5.0,NaN,1.0,NaN,627.0,342.0,340.0,852.0,872.0,870.0,384.0,392.0,735.0,532.0,270.0,494.0,174.0
6.0,NaN,1.0,NaN,569.0,425.0,428.0,54.0,213.0,93.0,1189.0,1172.0,758.0,812.0,1532.0,1235.0,1913.0
7.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2801.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2806.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2809.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2810.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2811.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2814.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2815.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2816.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3006.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3007.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,104.0,54.0,82.0,66.0,59.0,79.0,107.0,124.0,104.0,150.0,176.0,173.0,208.0

In [121]:
# Use value_counts to determine if the values where fixed on a different subset of columns.
ratings2014_df[['Q7RENTAL','Q7ALL','Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']].apply(pd.value_counts, dropna=False)

,Q7RENTAL,Q7ALL,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
1.0,30,6.0,7,3,9,7,19,8,4.0,2,34,18,23
2.0,86,38.0,28,23,41,42,70,22,8.0,10,65,59,56
3.0,258,522.0,365,221,259,433,548,431,338.0,93,491,351,352
4.0,382,1506.0,969,573,407,859,1018,1235,915.0,127,698,692,653
5.0,240,605.0,1395,717,448,818,952,1043,1503.0,587,1062,1574,1367
6.0,1627,NaN,16,1137,1490,546,135,18,NaN,19,123,46,215
NaN,195,141.0,38,144,164,113,76,61,50.0,1980,345,78,152

### Check 2015 "Ratings" DataFrame for missing values and invalid ratings data.###

In [122]:
# First use isnull().sum() to determine if there are any Nan values denoted missing ratings values
ratings2015_df.isnull().sum()
#There are no values missing

YEAR               0
RESPNUM            0
Q16LIVE            0
Q7ART              0
Q7FOOD             0
Q7STORE            0
Q7SIGN             0
Q7WALKWAYS         0
Q7SCREENS          0
Q7INFODOWN         0
Q7INFOUP           0
Q7WIFI             0
Q7ROADS            0
Q7PARK             0
Q7AIRTRAIN         0
Q7LTPARKING        0
Q7RENTAL           0
Q7ALL              0
Q9BOARDING         0
Q9AIRTRAIN         0
Q9RENTAL           0
Q9FOOD             0
Q9RESTROOM         0
Q9ALL              0
Q10SAFE            0
Q12PRECHECKRATE    0
Q13GETRATE         0
Q14FIND            0
Q14PASSTHRU        0
dtype: int64

In [123]:
# Next use value_counts to determine if there are any invalid values. 
# A warning will appear that is directly related to the existence of invalid values. 
ratings2015_df[['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE','Q7SIGN','Q7WALKWAYS','Q7SCREENS','Q7INFODOWN','Q7INFOUP','Q7WIFI','Q7ROADS','Q7PARK','Q7AIRTRAIN','Q7LTPARKING','Q7RENTAL','Q7ALL']].apply(pd.value_counts, dropna=False)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,Q7ROADS,Q7PARK,Q7AIRTRAIN,Q7LTPARKING,Q7RENTAL,Q7ALL
0,NaN,NaN,67.0,67.0,55.0,75.0,67.0,53.0,66.0,101.0,106.0,86.0,126.0,154.0,166.0,189.0,187.0,108.0
1,NaN,NaN,1018.0,16.0,23.0,11.0,19.0,11.0,13.0,16.0,17.0,75.0,23.0,12.0,11.0,11.0,21.0,7.0
2,NaN,NaN,141.0,64.0,191.0,154.0,83.0,53.0,62.0,57.0,47.0,110.0,90.0,88.0,43.0,47.0,67.0,29.0
3,NaN,1.0,1732.0,582.0,808.0,907.0,539.0,511.0,538.0,464.0,448.0,383.0,422.0,322.0,267.0,221.0,278.0,526.0
4,NaN,1.0,NaN,908.0,966.0,924.0,1246.0,1139.0,1147.0,557.0,563.0,643.0,801.0,470.0,570.0,303.0,404.0,1508.0
5,NaN,1.0,NaN,826.0,472.0,445.0,938.0,1006.0,1007.0,459.0,491.0,891.0,652.0,358.0,560.0,255.0,338.0,740.0
6,NaN,1.0,NaN,495.0,443.0,442.0,66.0,185.0,125.0,1304.0,1286.0,770.0,844.0,1554.0,1341.0,1932.0,1663.0,40.0
7,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3006,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3007,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3008,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3009,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3010,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3011,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3012,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3013,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3014,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3015,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3016,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3017,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3018,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3019,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3020,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3021,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3022,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3023,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3024,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3025,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3026,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3027,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3028,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3029,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
# Use value_counts to determine invalid values on a different subset of columns
# A warning will appear that is directly related to the existence of invalid values. 
ratings2015_df[['Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']].apply(pd.value_counts, dropna=False)

,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
0,38,122,147,103,55,59,44.0,1736,299,78,166
1,7,6,5,12,35,2,8.0,25,41,18,28
2,24,15,31,55,111,40,17.0,39,80,50,83
3,318,193,226,429,585,444,338.0,141,485,355,329
4,1012,586,442,893,1067,1289,934.0,166,689,713,674
5,1534,741,523,877,982,1093,1617.0,688,1208,1716,1394
6,25,1295,1584,589,123,31,NaN,163,156,28,284

In [125]:
# Use replace to "fix" any values. We will use use np.nan to represent missing values and we will change 0 values to np.nan
# Data dictionary states that 0 means a missing value, which is defined as NaN in Python

In [126]:
ratings2015_df['Q7ART'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7FOOD'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7STORE'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7SIGN'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7WALKWAYS'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7SCREENS'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7INFODOWN'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7INFOUP'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7WIFI'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7ROADS'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7PARK'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7LTPARKING'].replace(0,np.nan,inplace=True)
ratings2015_df['Q7RENTAL'].replace(0, np.nan, inplace = True)
ratings2015_df['Q7ALL'].replace(0, np.nan, inplace = True)
ratings2015_df['Q9BOARDING'].replace(0,np.nan,inplace=True)
ratings2015_df['Q9AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2015_df['Q9RENTAL'].replace(0,np.nan,inplace=True)
ratings2015_df['Q9FOOD'].replace(0, np.nan, inplace = True)
ratings2015_df['Q9RESTROOM'].replace(0, np.nan, inplace = True)
ratings2015_df['Q9ALL'].replace(0, np.nan, inplace = True)
ratings2015_df['Q10SAFE'].replace(0, np.nan, inplace = True)
ratings2015_df['Q12PRECHECKRATE'].replace(0, np.nan, inplace = True)
ratings2015_df['Q13GETRATE'].replace(0, np.nan, inplace = True)
ratings2015_df['Q14FIND'].replace(0, np.nan, inplace = True)
ratings2015_df['Q14PASSTHRU'].replace(0, np.nan, inplace = True)

In [127]:
# Next use value_counts (applied to a list of columns) to determine if all the values where fixed.
ratings2015_df.apply(pd.value_counts, dropna=False)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,...,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
0.0,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,NaN,NaN,1018.0,16.0,23.0,11.0,19.0,11.0,13.0,16.0,...,6.0,5.0,12.0,35.0,2.0,8.0,25.0,41.0,18.0,28.0
2.0,NaN,NaN,141.0,64.0,191.0,154.0,83.0,53.0,62.0,57.0,...,15.0,31.0,55.0,111.0,40.0,17.0,39.0,80.0,50.0,83.0
3.0,NaN,1.0,1732.0,582.0,808.0,907.0,539.0,511.0,538.0,464.0,...,193.0,226.0,429.0,585.0,444.0,338.0,141.0,485.0,355.0,329.0
4.0,NaN,1.0,NaN,908.0,966.0,924.0,1246.0,1139.0,1147.0,557.0,...,586.0,442.0,893.0,1067.0,1289.0,934.0,166.0,689.0,713.0,674.0
5.0,NaN,1.0,NaN,826.0,472.0,445.0,938.0,1006.0,1007.0,459.0,...,741.0,523.0,877.0,982.0,1093.0,1617.0,688.0,1208.0,1716.0,1394.0
6.0,NaN,1.0,NaN,495.0,443.0,442.0,66.0,185.0,125.0,1304.0,...,1295.0,1584.0,589.0,123.0,31.0,NaN,163.0,156.0,28.0,284.0
7.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3006.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3007.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3008.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3009.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3010.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3011.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3012.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3013.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3014.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3015.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3016.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3017.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3018.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3019.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3020.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3021.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3022.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3023.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3024.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3025.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3026.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3027.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3028.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3029.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,67.0,55.0,75.0,67.0,53.0,66.0,101.0,...,122.0,147.0,103.0,55.0,59.0,44.0,1736.0,299.0,78.0,166.0

### Check 2016 "Ratings" DataFrame for missing values and invalid ratings data.###

In [128]:
# First use isnull().sum() to determine if there are any Nan values denoted missing ratings values
ratings2016_df.isnull().sum()
#Q12PRECHECKRATE has 2116 missing values

YEAR                  0
RESPNUM               0
Q16LIVE               0
Q7ART                 0
Q7FOOD                0
Q7STORE               0
Q7SIGN                0
Q7WALKWAYS            0
Q7SCREENS             0
Q7INFODOWN            0
Q7INFOUP              0
Q7WIFI                0
Q7ROADS               0
Q7PARK                0
Q7AIRTRAIN            0
Q7LTPARKING           0
Q7RENTAL              0
Q7ALL                 0
Q9BOARDING            0
Q9AIRTRAIN            0
Q9RENTAL              0
Q9FOOD                0
Q9RESTROOM            0
Q9ALL                 0
Q10SAFE               0
Q12PRECHECKRATE    2116
Q13GETRATE            0
Q14FIND               0
Q14PASSTHRU           0
dtype: int64

In [129]:
# Next use value_counts to determine if there are any invalid values. 
# A warning may appear that is directly related to the existence of invalid values.
ratings2016_df[['YEAR', 'RESPNUM', 'Q16LIVE', 'Q7ART', 'Q7FOOD', 'Q7STORE','Q7SIGN','Q7WALKWAYS','Q7SCREENS','Q7INFODOWN','Q7INFOUP','Q7WIFI','Q7ROADS','Q7PARK','Q7AIRTRAIN','Q7LTPARKING','Q7RENTAL','Q7ALL']].apply(pd.value_counts, dropna=False)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,Q7ROADS,Q7PARK,Q7AIRTRAIN,Q7LTPARKING,Q7RENTAL,Q7ALL
0,NaN,NaN,106.0,86.0,64.0,82.0,71.0,64.0,67.0,97.0,113.0,107.0,147.0,174.0,167.0,210.0,199.0,133.0
1,NaN,1.0,1001.0,23.0,55.0,32.0,19.0,18.0,15.0,20.0,20.0,73.0,21.0,8.0,12.0,12.0,25.0,7.0
2,NaN,1.0,117.0,89.0,234.0,207.0,102.0,69.0,78.0,76.0,70.0,128.0,89.0,61.0,38.0,53.0,75.0,51.0
3,NaN,1.0,1863.0,624.0,864.0,897.0,543.0,503.0,530.0,450.0,443.0,386.0,439.0,325.0,280.0,227.0,269.0,497.0
4,NaN,1.0,NaN,993.0,1018.0,998.0,1301.0,1188.0,1225.0,650.0,654.0,740.0,814.0,500.0,576.0,288.0,409.0,1633.0
5,NaN,1.0,NaN,844.0,509.0,491.0,1004.0,1095.0,1077.0,547.0,564.0,1006.0,683.0,355.0,616.0,240.0,340.0,731.0
6,NaN,1.0,NaN,428.0,343.0,380.0,47.0,150.0,95.0,1247.0,1223.0,647.0,894.0,1664.0,1398.0,2057.0,1770.0,35.0
7,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3077,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3078,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3079,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3080,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3081,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3082,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3083,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3084,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3085,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3086,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3087,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3088,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3089,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3090,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3091,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3092,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3093,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3098,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3099,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3100,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3101,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3102,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3103,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3104,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3105,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# Use value_counts to determine "invalid" values on a different subset of columns.
# A warning may appear that is directly related to the existence of invalid values. 
ratings2016_df[['Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']].apply(pd.value_counts, dropna=False)

C:\Users\herna_000\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'float', sort order is undefined for incomparable objects
  result = result.union(other)

,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
0,45.0,137.0,164.0,128.0,81.0,73.0,76.0,24,382.0,134.0,188.0
1,16.0,7.0,7.0,16.0,17.0,6.0,11.0,23,38.0,32.0,46.0
2,32.0,23.0,25.0,54.0,128.0,39.0,20.0,28,74.0,51.0,117.0
3,316.0,210.0,252.0,398.0,550.0,426.0,351.0,111,499.0,379.0,442.0
4,1038.0,586.0,452.0,947.0,1077.0,1311.0,1064.0,144,773.0,755.0,755.0
5,1626.0,821.0,583.0,1024.0,1110.0,1212.0,1565.0,617,1185.0,1690.0,1281.0
6,14.0,1303.0,1604.0,520.0,124.0,20.0,NaN,23,136.0,46.0,258.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2116,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN

In [131]:
# Use pandas replace to "fix" any values.
ratings2016_df['Q12PRECHECKRATE'].replace('\s*', np.nan, regex=True, inplace=True)

In [132]:
# Next use value_counts (applied to a list of columns) to determine if all the values where fixed.
# A warning may appear that is directly related to the existence of invalid values. 
ratings2016_df[['Q9BOARDING','Q9AIRTRAIN','Q9RENTAL','Q9FOOD','Q9RESTROOM','Q9ALL','Q10SAFE','Q12PRECHECKRATE','Q13GETRATE','Q14FIND','Q14PASSTHRU']].apply(pd.value_counts, dropna=False)

,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
0.0,45.0,137.0,164.0,128.0,81.0,73.0,76.0,24,382.0,134.0,188.0
1.0,16.0,7.0,7.0,16.0,17.0,6.0,11.0,23,38.0,32.0,46.0
2.0,32.0,23.0,25.0,54.0,128.0,39.0,20.0,28,74.0,51.0,117.0
3.0,316.0,210.0,252.0,398.0,550.0,426.0,351.0,111,499.0,379.0,442.0
4.0,1038.0,586.0,452.0,947.0,1077.0,1311.0,1064.0,144,773.0,755.0,755.0
5.0,1626.0,821.0,583.0,1024.0,1110.0,1212.0,1565.0,617,1185.0,1690.0,1281.0
6.0,14.0,1303.0,1604.0,520.0,124.0,20.0,NaN,23,136.0,46.0,258.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2117,NaN,NaN,NaN

In [133]:
# Use replace to "fix" any values. We will use use np.nan to represent missing values and we will change 0 values to np.nan
# Data dictionary states that 0 means a missing value, which is defined as NaN in Python
ratings2016_df['Q7ART'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7FOOD'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7STORE'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7SIGN'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7WALKWAYS'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7SCREENS'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7INFODOWN'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7INFOUP'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7WIFI'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7ROADS'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7PARK'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7LTPARKING'].replace(0,np.nan,inplace=True)
ratings2016_df['Q7RENTAL'].replace(0, np.nan, inplace = True)
ratings2016_df['Q7ALL'].replace(0, np.nan, inplace = True)
ratings2016_df['Q9BOARDING'].replace(0,np.nan,inplace=True)
ratings2016_df['Q9AIRTRAIN'].replace(0, np.nan, inplace = True)
ratings2016_df['Q9RENTAL'].replace(0,np.nan,inplace=True)
ratings2016_df['Q9FOOD'].replace(0, np.nan, inplace = True)
ratings2016_df['Q9RESTROOM'].replace(0, np.nan, inplace = True)
ratings2016_df['Q9ALL'].replace(0, np.nan, inplace = True)
ratings2016_df['Q10SAFE'].replace(0, np.nan, inplace = True)
ratings2016_df['Q12PRECHECKRATE'].replace(0, np.nan, inplace = True)
ratings2016_df['Q13GETRATE'].replace(0, np.nan, inplace = True)
ratings2016_df['Q14FIND'].replace(0, np.nan, inplace = True)
ratings2016_df['Q14PASSTHRU'].replace(0, np.nan, inplace = True)

In [134]:
# Next use value_counts (applied to a list of columns) to determine if all the values where fixed.
ratings2016_df.apply(pd.value_counts, dropna=False)

,YEAR,RESPNUM,Q16LIVE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,...,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU
0.0,NaN,NaN,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,NaN,1.0,1001.0,23.0,55.0,32.0,19.0,18.0,15.0,20.0,...,7.0,7.0,16.0,17.0,6.0,11.0,23.0,38.0,32.0,46.0
2.0,NaN,1.0,117.0,89.0,234.0,207.0,102.0,69.0,78.0,76.0,...,23.0,25.0,54.0,128.0,39.0,20.0,28.0,74.0,51.0,117.0
3.0,NaN,1.0,1863.0,624.0,864.0,897.0,543.0,503.0,530.0,450.0,...,210.0,252.0,398.0,550.0,426.0,351.0,111.0,499.0,379.0,442.0
4.0,NaN,1.0,NaN,993.0,1018.0,998.0,1301.0,1188.0,1225.0,650.0,...,586.0,452.0,947.0,1077.0,1311.0,1064.0,144.0,773.0,755.0,755.0
5.0,NaN,1.0,NaN,844.0,509.0,491.0,1004.0,1095.0,1077.0,547.0,...,821.0,583.0,1024.0,1110.0,1212.0,1565.0,617.0,1185.0,1690.0,1281.0
6.0,NaN,1.0,NaN,428.0,343.0,380.0,47.0,150.0,95.0,1247.0,...,1303.0,1604.0,520.0,124.0,20.0,NaN,23.0,136.0,46.0,258.0
7.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3078.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3079.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3080.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3081.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3082.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3083.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3084.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3085.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3086.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3087.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3088.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3089.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3090.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3091.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3092.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3093.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3098.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3099.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3100.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3101.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3102.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3103.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3104.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3105.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,86.0,64.0,82.0,71.0,64.0,67.0,97.0,...,137.0,164.0,128.0,81.0,73.0,76.0,2141.0,382.0,134.0,188.0

### Concatenate the 3 ratings DataFrames to get the Summary Data DataFrame and save it to a variable.###

In [135]:
# Determine the dimensions of the 2014 ratings DataFrame
ratings2014_df.shape

(2818, 29)

In [136]:
# Determine the dimensions of the 2015 ratings DataFrame
ratings2015_df.shape

(2958, 29)

In [137]:
# Determine the dimensions of the 2016 ratings DataFrame
ratings2016_df.shape

(3087, 29)

In [138]:
# Concatenate the 3 ratings DataFrames (along the default axis, i.e. one into one using pd.concat( ).
# Then add a second line of code to display the DataFrame shape, e.g. if df is a DataFrame object. df.shape displays its shape.
# The number of rows should be the sum of the number of rows in the three yearly DataFrames but with the same number of columns in all cases.
ratings_summary_df=pd.concat([ratings2014_df, ratings2015_df, ratings2016_df], axis=0)
type(ratings_summary_df)

pandas.core.frame.DataFrame

In [139]:
ratings_summary_df.shape

(8863, 29)

In [140]:
### Write the Summary DataFrame to a csv file. Include the columns (default) but not the index (not default) ##

In [141]:
# Write the Summary DataFrame to a csv file using the pandas DataFrame method to_csv() 
# We will set index = False so that the index column is not written to the file.

ratings_summary_df.to_csv("ratings_summary.csv", index=False)

## Part 2 ##

**Identify the top three (3) comments made by gender of respondent in survey years 2015 and 2016.**

In [142]:
#Create a new DataFrame using 2015 data containing four columns: gender column and each of the three Q8 comments columns
New2015_df = pd.read_csv('.\\MSDS 420\\GrEx1\\sfo cust sat 2015_data file_final_WEIGHTED_flysfo.csv',sep=',')
Q8COM_select2015 = ['Q19GENDER','Q8COM1','Q8COM2', 'Q8COM3']
Q8COM_2015_df = New2015_df[Q8COM_select2015].copy()
Q8COM_2015_df.columns

Index(['Q19GENDER', 'Q8COM1', 'Q8COM2', 'Q8COM3'], dtype='object')

In [143]:
#use panda head() to inspect new DataFrame
Q8COM_2015_df.head()

   Q19GENDER  Q8COM1  Q8COM2  Q8COM3
0          0    20.0     NaN     NaN
1          2     NaN     NaN     NaN
2          1   999.0     NaN     NaN
3          2     NaN     NaN     NaN
4          1     NaN     NaN     NaN

In [144]:
#Create a new DataFrame using 2016 data containing six columns: the gender column and each of the five Q8 comments
New2016_df = pd.read_excel(".\\MSDS 420\\GrEx1\\2016 SFO Customer Survey Data.xlsx", "Data")
Q8COM_select2016 = ['Q20GENDER','Q8COM','Q8COM2', 'Q8COM3','Q8COM4','Q8COM5']
Q8COM_2016_df = New2016_df[Q8COM_select2016].copy()
#Fix any column name discrepancies
Q8COM_2016_df.rename(columns={'Q8COM':'Q8COM1'}, inplace=True)
Q8COM_2016_df.rename(columns={'Q20GENDER': "Q19GENDER"}, inplace=True)
Q8COM_2016_df.columns

Index(['Q19GENDER', 'Q8COM1', 'Q8COM2', 'Q8COM3', 'Q8COM4', 'Q8COM5'], dtype='object')

In [145]:
#use panda head() to inspect new DataFrame
Q8COM_2016_df.head()

  Q19GENDER  Q8COM1  Q8COM2  Q8COM3  Q8COM4  Q8COM5
0         0     202   215.0     NaN     NaN     NaN
1         0       0     NaN     NaN     NaN     NaN
2         0       0     NaN     NaN     NaN     NaN
3         0       0     NaN     NaN     NaN     NaN
4         0       0     NaN     NaN     NaN     NaN

In [146]:
#Subset Q8COM_2015_df to create new DataFrame with two columns: Gender column and Comments column

In [147]:
#Create 3 pairs of DataFrame with gender and comment 1-3 (2015 Data)
First2015Pair_df= Q8COM_2015_df[['Q19GENDER','Q8COM1']].copy()
Second2015Pair_df=Q8COM_2015_df[['Q19GENDER','Q8COM2']].copy()
Third2015Pair_df=Q8COM_2015_df[['Q19GENDER','Q8COM3']].copy()
#Rename Q8COM1-3 to COMMENTS
First2015Pair_df.rename(columns={'Q8COM1': 'COMMENTS'}, inplace=True)
Second2015Pair_df.rename(columns={'Q8COM2': 'COMMENTS'}, inplace=True)
Third2015Pair_df.rename(columns={'Q8COM3': 'COMMENTS'}, inplace=True)
#Concatenate all three pairs
Gender_COM2015_df=pd.concat([First2015Pair_df,Second2015Pair_df,Third2015Pair_df],axis=0)
#Inspect that columns are correct
Gender_COM2015_df.columns

Index(['Q19GENDER', 'COMMENTS'], dtype='object')

In [148]:
#Subset Q8COM_2016_df to create new DataFrame with two columns: Gender column and Comments column

In [149]:
#Create 5 pairs of DataFrame with gender and comment 1-5 (2016 Data)
First2016Pair_df= Q8COM_2016_df[['Q19GENDER','Q8COM1']].copy()
Second2016Pair_df=Q8COM_2016_df[['Q19GENDER','Q8COM2']].copy()
Third2016Pair_df=Q8COM_2016_df[['Q19GENDER','Q8COM3']].copy()
Fourth2016Pair_df=Q8COM_2016_df[['Q19GENDER','Q8COM4']].copy()
Fifth2016Pair_df=Q8COM_2016_df[['Q19GENDER','Q8COM5']].copy()
#Rename Q8COM1-5 to COMMENTS
First2016Pair_df.rename(columns={'Q8COM1': 'COMMENTS'}, inplace=True)
Second2016Pair_df.rename(columns={'Q8COM2': 'COMMENTS'}, inplace=True)
Third2016Pair_df.rename(columns={'Q8COM3': 'COMMENTS'}, inplace=True)
Fourth2016Pair_df.rename(columns={'Q8COM4': 'COMMENTS'}, inplace=True)
Fifth2016Pair_df.rename(columns={'Q8COM5': 'COMMENTS'}, inplace=True)
#Concatenate all 5 pairs
Gender_COM2016_df=pd.concat([First2016Pair_df,Second2016Pair_df,Third2016Pair_df,Fourth2016Pair_df,Fifth2016Pair_df],axis=0)
#Inspect that columns are correct
Gender_COM2016_df.columns

Index(['Q19GENDER', 'COMMENTS'], dtype='object')

In [150]:
#Concatenate the newly created 2015 and 2016 DataFrames 
Gender_COMAll_df = pd.concat([Gender_COM2015_df, Gender_COM2016_df], axis = 0)
#Inspect that columns are correct
Gender_COMAll_df.columns

Index(['Q19GENDER', 'COMMENTS'], dtype='object')

In [151]:
# Reconcile response coding discrepancies
Gender_COMAll_df.replace({0:"Blank/Multiple Responses",1:"Male", 2: "Female", 3: "Other"}, inplace=True)

In [152]:
#Determine the top 3 comments by gender
Comment_FrequencyBy_Gender_df = Gender_COMAll_df.groupby("Q19GENDER").COMMENTS.value_counts().groupby(level='Q19GENDER').head(10)
Comment_FrequencyBy_Gender_df

Q19GENDER                 COMMENTS
Blank/Multiple Responses  Blank/Multiple Responses     92
                          999.0                        20
                          202.0                        12
                          103.0                        10
                          20.0                          9
                          203.0                         9
                          501.0                         7
                          505.0                         7
                          34.0                          6
                          8.0                           5
Female                    Blank/Multiple Responses    682
                          999.0                       187
                          202.0                       171
                          505.0                        90
                          103.0                        82
                          203.0                        73
                          501.0                        65
                          20.0                         58
                          993.0                        47
                          205.0                        41
Male                      Blank/Multiple Responses    686
                          999.0                       178
                          202.0                       149
                          103.0                        85
                          505.0                        77
                          203.0                        73
                          501.0                        67
                          993.0                        39
                          20.0                         37
                          608.0                        35
Other                     103.0                         1
                          501.0                         1
                          618.0                         1
Name: COMMENTS, dtype: int64

In [153]:
#Convert the top comment codes to their meaning from SFO Dictionary
Comment_999 = "Good experience/keep up the good work/other positive comment"
Comment_202 = "Need more places to eat/drink/more variety in types of restaurants"
Comment_103 = "Going through security takes too long/add more checkpoints"
Comment_505 = "Add plugs/electrical outlets/places to charge device"
Comment_501 = "WiFi drops too often/too slow/other technical difficulties with WiFi"
Comment_618 = "Rental car center rude/disorganized"

In [154]:
#Top Male comments
print ("The most popular comment is:", Comment_999)
print ("The second most popular comment is:", Comment_202)
print ("The third most popular comment is:", Comment_103)

The most popular comment is: Good experience/keep up the good work/other positive comment
The second most popular comment is: Need more places to eat/drink/more variety in types of restaurants
The third most popular comment is: Going through security takes too long/add more checkpoints

In [155]:
#Top Female comments
print ("The most popular comment is:", Comment_999)
print ("The second most popular comment is:", Comment_202)
print ("The third most popular comment is:", Comment_505)

The most popular comment is: Good experience/keep up the good work/other positive comment
The second most popular comment is: Need more places to eat/drink/more variety in types of restaurants
The third most popular comment is: Add plugs/electrical outlets/places to charge device

In [156]:
#Top Blank/Multiple Responses comments
print ("The most popular comment is:", Comment_999)
print ("The second most popular comment is:", Comment_202)
print ("The third most popular comment is:", Comment_103)

The most popular comment is: Good experience/keep up the good work/other positive comment
The second most popular comment is: Need more places to eat/drink/more variety in types of restaurants
The third most popular comment is: Going through security takes too long/add more checkpoints

In [157]:
#Top Other comments
print ("The most popular comments were: " + str(Comment_103) + ", " + str(Comment_501) + ", " + str(Comment_618))

The most popular comments were: Going through security takes too long/add more checkpoints, WiFi drops too often/too slow/other technical difficulties with WiFi, Rental car center rude/disorganized

## Part 3 ##

** Using the data you created in 1, summarize the distribution of the SFO Airport "as a whole" ratings by respondent residence location category and report your results.**

In [158]:
#Translate the Q16LIVE data entries (i.e. the respondent residence location responses)
#The decision was made to code 4 responses as 0 responses, which mean 'Blank/Multiple Responses'
ratings_summary_df.Q16LIVE.replace(0,"Blank/Multiple Responses",inplace=True)
ratings_summary_df.Q16LIVE.replace(1,"9 County Bay Area",inplace=True)
ratings_summary_df.Q16LIVE.replace(2,"Northern California outside the Bay Area",inplace=True)
ratings_summary_df.Q16LIVE.replace(3,"In another region",inplace=True)
ratings_summary_df.Q16LIVE.replace(4,"Blank/Multiple Responses",inplace=True)

In [159]:
#Distribution of Q7ALL ratings grouped by respondent residence location
Q7_RatingDistribution_Location_df = ratings_summary_df.groupby("Q16LIVE").Q7ALL.value_counts(dropna=False).groupby(level='Q16LIVE').head(7)
Q7_RatingDistribution_Location_df

Q16LIVE                                   Q7ALL
9 County Bay Area                         4.0      1595
                                          5.0       702
                                          3.0       433
                                          NaN       101
                                          2.0        29
                                          6.0        11
                                          1.0         5
Blank/Multiple Responses                  4.0       146
                                          5.0        66
                                          3.0        57
                                          NaN        46
                                          2.0         7
                                          6.0         5
                                          1.0         2
In another region                         4.0      2700
                                          5.0      1197
                                          3.0       983
                                          NaN       212
                                          2.0        78
                                          6.0        56
                                          1.0        12
Northern California outside the Bay Area  4.0       206
                                          5.0       111
                                          3.0        72
                                          NaN        23
                                          2.0         4
                                          6.0         3
                                          1.0         1
Name: Q7ALL, dtype: int64

In [160]:
#Distribution of Q9ALL ratings grouped by respondent residence location
Q9_RatingDistribution_Location_df = ratings_summary_df.groupby("Q16LIVE").Q9ALL.value_counts(dropna=False).groupby(level='Q16LIVE').head(7)
Q9_RatingDistribution_Location_df

Q16LIVE                                   Q9ALL
9 County Bay Area                         4.0      1272
                                          5.0      1096
                                          3.0       404
                                          NaN        51
                                          2.0        28
                                          6.0        15
                                          1.0        10
Blank/Multiple Responses                  4.0       136
                                          5.0       109
                                          3.0        43
                                          NaN        27
                                          6.0        10
                                          2.0         4
In another region                         4.0      2247
                                          5.0      1971
                                          3.0       796
                                          NaN       109
                                          2.0        69
                                          6.0        40
                                          1.0         6
Northern California outside the Bay Area  4.0       180
                                          5.0       172
                                          3.0        58
                                          NaN         6
                                          6.0         4
Name: Q9ALL, dtype: int64

## Part 4 ##

** Profile respondents for follow-up participation in qualitative research by creating a data set that describes them.**

In [161]:
#Create a DataFrame from the select_resps.csv source file
select_resps_df = pd.read_csv('.\\MSDS 420\\GrEx1\\select_resps.csv',sep=',')
#Rename the year column
select_resps_df.rename(columns={'year':'YEAR'}, inplace=True)

In [162]:
#2015: Split the 2015 respondents from the select_resps_df
select_2015resps_df = select_resps_df[select_resps_df['YEAR']==2015]

In [163]:
#Subset the SFO2015_df from Part 1 to include the travel, demographic, INTDATE, RESPNUM and YEAR variables 
updated_SFO2015_df = SFO2015_df[['RESPNUM', 'YEAR','INTDATE', 'DESTGEO','DESTMARK','Q2PURP1','Q2PURP2','Q2PURP3','Q3PARK','Q4BAGS','Q4STORE','Q4FOOD', 'Q4WIFI', 'Q5TIMESFLOWN', 'Q5FIRSTTIME','Q6LONGUSE','Q16LIVE','Q18AGE','Q19GENDER','Q20INCOME', 'Q21FLY', 'LANG', 'Q22SJC','Q22OAK']]

In [164]:
#Create a DataFrame that is made from selecting the rows in the select_2015resps_df out of the updated_SFO2015_df
select2015respondents_df = updated_SFO2015_df.merge(select_2015resps_df, how='inner', on=['RESPNUM', 'YEAR'])

In [165]:
#2016: Split the 2016 respondents from the select_resps_df
select_2016resps_df = select_resps_df[select_resps_df['YEAR']==2016]

In [166]:
#Subset the SFO2016_df from Part 1 to include the travel, demographic, INTDATE, RESPNUM and YEAR variables 
updated_SFO2016_df = SFO2016_df[['RESPNUM', 'YEAR','INTDATE', 'DESTGEO','DESTMARK','Q2PURP1','Q2PURP2','Q2PURP3','Q3PARK','Q4BAGS','Q4STORE','Q4FOOD', 'Q4WIFI', 'Q5TIMESFLOWN', 'Q5FIRSTTIME','Q6LONGUSE','Q16LIVE','Q19AGE','Q20GENDER','Q21INCME', 'Q22FLY', 'LANG', 'Q23SJC','Q23OAK']]

In [167]:
#Create a DataFrame that is made from selecting the rows in the select_2016resps_df out of the updated_SFO2016_df
select2016respondents_df = updated_SFO2016_df.merge(select_2016resps_df, how='inner', on=['RESPNUM', 'YEAR'])

In [168]:
#Prior to concatanating select2015respondents_df and select2016respondents_df, we need to reconcile any discrepancies
#We will be fixing the column labels first. The decision was made to rename 2016 column labels using 2015 column labels
select2016respondents_df.rename(columns = {'Q19AGE':'Q18AGE', 'Q20GENDER':'Q19GENDER', 'Q21INCME':'Q20INCOME', 'Q22FLY':'Q21FLY', 'Q23SJC':'Q22SJC', 'Q23OAK':'Q22OAK'}, inplace=True)

In [169]:
#2015: We will fix any data entry issues and also replacing 0 with NaN 
#A data entry issue is defined as not being an acceptable response according to the dictionary
#We are replacing all 0's with NaN because the dictionary defines 0 as blank values and using NaN will not distort future analysis
select2015respondents_df['Q2PURP1'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q2PURP2'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q2PURP3'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q3PARK'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q4BAGS'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q4STORE'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q4FOOD'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q4WIFI'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q5TIMESFLOWN'].replace(0, np.nan, inplace=True) 
select2015respondents_df['Q5FIRSTTIME'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q6LONGUSE'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q16LIVE'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q18AGE'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q19GENDER'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q20INCOME'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q21FLY'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q22SJC'].replace(0, np.nan, inplace=True)
select2015respondents_df['Q22OAK'].replace(0, np.nan, inplace=True)

In [170]:
#2016: The instructions and justifications for select2016respondents_df is the same as for the 2015 equivalent DataFrame
#select2016respondents_df has responses that need to be adjusted 
#Q18AGE responses will be changed to mirror 2015 integer response format
select2016respondents_df.replace({'25-34':3,'45-54':5,'55-64':6,'35-44':4,'18-24':2,'65-Over':7,"Don't Know or Refused":8,'Under 23':2,'Under 29':3}, inplace=True)
#Q19GENDER responses will be changed to mirror 2015 integer response format 
select2016respondents_df.replace({'Male':1,'Female':2}, inplace=True)
select2016respondents_df['Q19GENDER'].replace(0, np.nan, inplace=True)

In [171]:
#Q21FLY, Q22SJC and Q22OAK have 4 as responses which are not part of dictionary. They will be replaced by NaN
select2016respondents_df['Q21FLY'].replace(4, np.nan, inplace=True)
select2016respondents_df['Q22SJC'].replace(4, np.nan, inplace=True)
select2016respondents_df['Q22OAK'].replace(4, np.nan, inplace=True)

In [172]:
#Replace 0 with NaN as in 2015 DataFrame
select2016respondents_df['Q2PURP1'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q2PURP2'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q2PURP3'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q3PARK'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q4BAGS'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q4STORE'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q4FOOD'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q4WIFI'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q5TIMESFLOWN'].replace(0, np.nan, inplace=True) 
select2016respondents_df['Q5FIRSTTIME'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q6LONGUSE'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q16LIVE'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q18AGE'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q20INCOME'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q21FLY'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q22SJC'].replace(0, np.nan, inplace=True)
select2016respondents_df['Q22OAK'].replace(0, np.nan, inplace=True)

In [173]:
#We will create a frequency table for the Q3PARK, Q5TIMESFLOWN and Q6LONGUSE that shows the occurrence of each coded value
select2016respondents_df[['Q3PARK']].apply(pd.value_counts, dropna=False)

      Q3PARK
NaN       83
 4.0       3
 3.0       2
 1.0       1
 2.0       1

In [174]:
select2016respondents_df[['Q5TIMESFLOWN']].apply(pd.value_counts, dropna=False)

   Q5TIMESFLOWN
3            42
2            17
1            13
4            10
6             5
5             3

In [175]:
select2016respondents_df[['Q6LONGUSE']].apply(pd.value_counts, dropna=False)

      Q6LONGUSE
 4.0         46
 2.0         25
 1.0         10
 3.0          8
NaN           1

In [176]:
#The last step prior to concatanating is to reconcile the INTDATE variable for select2015respondents_df and select2016respondents_df
#The decision has been made that we will convert the 2016 INTDATE format to match the 2015 format
#The reasoning is that both surveys were done in May and we have already added the constant YEAR column
#We first convert the INTDATE variable to a datetime format
select2016respondents_df['INTDATE'] = pd.to_datetime(select2016respondents_df.INTDATE)
#Next we will use the dt.day method to pull out the day of the month as an integer
select2016respondents_df.INTDATE=select2016respondents_df.INTDATE.dt.day

In [177]:
#Concatanate the select2015respondents_df and select2016respondents_df
summary_selectresps_df = pd.concat([select2015respondents_df,select2016respondents_df], axis=0)

In [178]:
#Save the concatanated DataFrame as a headered csv file
summary_selectresps_df.to_csv('summary_selectresps.csv', index=False )

## Part 5 ##

** Save each of the data sets you have created above by "pickling." **

In [179]:
import pickle
#We are going to "pickle" each of the DataFrames we created 
summary_selectresps_df.to_pickle('summary_selectresps.pk1')
ratings_summary_df.to_pickle('ratings_summary.pk1')
Gender_COMAll_df.to_pickle('Gender_COMALL.pk1')
Q7_RatingDistribution_Location_df.to_pickle('Q7_RatingDistribution_Location.pk1')
Q9_RatingDistribution_Location_df.to_pickle('Q9_RatingDistribution_Location.pk1')

In [180]:
#We will verify that the "pickling" worked by "unpickling" one our newly created "pickles"
unpickled_summary_selectresps_df = pd.read_pickle('summary_selectresps.pk1')
unpickled_summary_selectresps_df.head(5)

,RESPNUM,YEAR,INTDATE,DESTGEO,DESTMARK,Q2PURP1,Q2PURP2,Q2PURP3,Q3PARK,Q4BAGS,...,Q5FIRSTTIME,Q6LONGUSE,Q16LIVE,Q18AGE,Q19GENDER,Q20INCOME,Q21FLY,LANG,Q22SJC,Q22OAK
0,3,2015,13,3,4,2.0,NaN,NaN,NaN,1.0,...,1.0,4.0,1,6.0,NaN,1.0,2.0,1,2.0,2.0
1,24,2015,12,4,2,2.0,NaN,NaN,NaN,1.0,...,1.0,4.0,1,7.0,2.0,NaN,2.0,1,2.0,1.0
2,102,2015,12,1,2,3.0,NaN,NaN,NaN,2.0,...,1.0,4.0,1,7.0,1.0,NaN,2.0,1,2.0,2.0
3,111,2015,12,2,4,1.0,NaN,NaN,NaN,NaN,...,1.0,4.0,1,5.0,1.0,4.0,2.0,1,2.0,2.0
4,123,2015,12,2,4,2.0,3.0,NaN,NaN,2.0,...,1.0,4.0,1,2.0,2.0,NaN,2.0,1,2.0,2.0